<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="initial-sclae=1, width=device-width">
     <title>InterLib Home</title>
</head>
<body>
    <header>
        <center>
        <nav>
            <a href="/">Home</a>
            <a href="/library">Library</a>
            <a href="/about">About Me</a>
        </nav>
            <h1>Welcome to InterLib!</h1>
            <h2>The World's First International and Multilingual Library</h2>
            <p>Discover books from around the world, in different languages, and available in various currencies.</p>
        </center>
    </header>

</body>
</html>
