{% extends 'base.html' %}

{% block head %}

{% endblock %} 

{% block body %}
<body>
    <header>
        <center>
            <h1>Welcome to InterLib!</h1>
            <h2>The World's First International and Multilingual Library</h2>
            <h3>Discover books from around the world, in different languages, and available in various currencies.</h3>
            <h4><a href="/signup">Register now to start building your favourites shelf!</a></h4>
            <img src="../static/books.png" alt="books">
        </center>
    </header>
</body>
{% endblock %} 
